<h1>{{orgName}}/{{projectName}}: {{teamName}}</h1>

<b>Complete stats</b><br />
These are stats for PRs which have gotten at least 1 approving review from a member of the <code>{{teamName}}</code> team.

<br/><br />

Since September 6th, 2020:
<ul>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/since_sep06_2020.html">All PRs</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/core-since_sep06_2020.html">Core team PRs only</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/community-since_sep06_2020.html">Community PRs only</a></li>
</ul>

<br />

For all time:
<ul>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/all_time.html">All PRs</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/core-all_time.html">Core team PRs only</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/community-all_time.html">Community PRs only</a></li>
</ul>

<br/><br />

<details>
<summary><b>Incomplete stats</b></summary>
<div class="container">
These are stats which have not yet received their approving review yet. These graphs are expected to be less coherent.

<br/><br />

Since September 6th, 2020:
<ul>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-since_sep06_2020.html">All PRs</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-core-since_sep06_2020.html">Core team PRs only</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-community-since_sep06_2020.html">Community PRs only</a></li>
</ul>

<br />

For all time:
<ul>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-all_time.html">All PRs</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-core-all_time.html">Core team PRs only</a></li>
<li><a href="{{orgName}}/{{projectName}}/{{teamName}}/incomplete-community-all_time.html">Community PRs only</a></li>
</ul>
</div>
</details>
